.nav-container {
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  background-color: #3d2424;
}

.logo-container {
  height: inherit;
}

.logo-container img {
  height: inherit;
  cursor: pointer;
}

.logos {
  margin-left: auto;
}
.logos-list {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.logos-list li {
  padding: 0 6px;
  cursor: pointer;
  color: #fdece2;
}

.logos-list li:hover {
  color: white;
}

button {
  margin: 4px 32px 4px 16px;
  padding: 6px 12px;
  background-color: #f6584d;
  font-family: "RocaTwo", sans-serif;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: #dd4f45;
}

/* button.popupBtn {
  margin-left: auto;
} */
