.socials-container {
  position: relative;
  top: 36px;
  padding: 8px 16px;
}

.sheild {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  cursor: pointer;
  overflow: hidden;
  width: 88px;
}

.sheild-test {
  height: 150px;
  width: 150px;
  background-color: #f6584d;
  clip-path: url(#aburaU);
  transform: rotate(180deg);
}

.sheild-test {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  clip-path: path("M 0 200 L 0,75 A 5,5 0,0,1 150,75 L 200 200 z");
}

.sheild-test p {
  transform: rotate(180deg);
  font-family: "rocaTwo", sans-serif;
  color: #fdece2;
}

.sheild-test::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 20px;
  height: 20px;
  background: blue;
  border-radius: 50%;
  z-index: 1;
  transition: width 0.5s, height 0.5s;
}

.sheild-test:hover::before {
  width: 300px;
  height: 300px;
}

.sheild-test p {
  position: relative;
  z-index: 1;
}
.socials {
  display: flex;
  justify-content: center;
}

.socials-icons {
  font-size: 14px;
}

.socials-list {
  list-style: none;
  display: flex;
  margin: 4px 0;
  padding: 0;
}

.socials-list li {
  padding: 0 2px;
  cursor: pointer;
  color: #fdece2;
}

.socials-list li:hover {
  color: white;
}

.socials-list li a {
  list-style: none;
  color: #fdece2;
}

.socials-list li a svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.socials-list li a:hover {
  color: #f6584d;
  scale: 1.1;
}

/* .socials {
  position: relative;
  top: 16px;
} */

.shield-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* .shield-container p {
  font-family: "Rocatwo", sans-serif;
  color: #fdece2;

  font-size: 14px;
  margin: 0;
  padding: 0 2px;
  position: relative;
  bottom: 55px;
  height: auto;
  width: 80%;
  text-align: center;
} */

.popupText {
  color: #fdece2;
  z-index: 2;
  margin: 0;
  position: relative;
  text-align: center;
  bottom: 52px;
  font-size: 12px;
  font-family: "rocaTwo", sans-serif;
  cursor: pointer;
}

.arrow {
  color: #c5463e;
  font-size: 18px;
}

.popupText button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.arrow:hover {
  color: #f6584d;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .socials-container {
    top: 20px;
    padding: 4px 8px;
  }

  .sheild {
    width: 56px;
  }

  .popupText {
    font-size: 9px;
    width: 70%;
    bottom: 42px;
  }
  .arrow {
    font-size: 12px;
  }

  .socials-icons {
    font-size: 8px;
  }
}
